@import "common/var";

.el-container {
    display: flow-root;
    /* 1 */
    box-sizing: content-box;
    max-width: $--container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $--container-padding-horizontal;
    padding-right: $--container-padding-horizontal;
}

/* Phone landscape and bigger */
@media (min-width: $--xs) {

    .el-container {
        padding-left: $--container-padding-horizontal-xs;
        padding-right: $--container-padding-horizontal-xs;
    }

}

/* Phone landscape and bigger */
@media (min-width: $--sm) {

    .el-container {
        padding-left: $--container-padding-horizontal-sm;
        padding-right: $--container-padding-horizontal-sm;
    }

}

/* Tablet landscape and bigger */
@media (min-width: $--md) {

    .el-container {
        padding-left: $--container-padding-horizontal;
        padding-right: $--container-padding-horizontal;
    }

}

/*
 * Remove margin from the last-child
 */

.el-container > :last-child { margin-bottom: 0; }

/*
 * Remove padding from nested containers
 */

.el-container .el-container.el-container-collapse {
    padding-left: 0;
    padding-right: 0;
}

.el-container-expand-collapse {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
}


/* Size modifier
 ========================================================================== */

.el-container-xs { max-width: $--container-xs-max-width; }
.el-container-sm { max-width: $--container-sm-max-width; }
.el-container-lg { max-width: $--container-lg-max-width; }
.el-container-xl { max-width: $--container-xl-max-width; }
.el-container-expand { max-width: none; }

/* Expand modifier
 ========================================================================== */

/*
 * Expand one side only
 */

.el-container-expand-left { margin-left: 0; }
.el-container-expand-right { margin-right: 0; }
