@import "common/var";

@font-face {
    font-family: 'icomoon';
    src: url("#{$--font-path}/icomoon/icomoon.eot?fa9f2f");
    src: url("#{$--font-path}/icomoon/icomoon.eot?fa9f2f#iefix") format('embedded-opentype'),
        url("#{$--font-path}/icomoon/icomoon.ttf?fa9f2f") format('truetype'),
        url("#{$--font-path}/icomoon/icomoon.woff?fa9f2f") format('woff'),
        url("#{$--font-path}/icomoon/icomoon.svg?fa9f2f#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: $--font-display;
}

[class^="el-icon-"], [class*=" el-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-icon-08x {
	font-size: 85%;
}
.el-icon-2x {
	font-size: 140%;
}
.el-icon-3x {
	font-size: 180%;
}
.el-icon-4x {
	font-size: 240%;
}
.el-icon-bordered {
	padding: 5px;
	border: 2px solid;
	border-radius: 50%;
}

.el-icon-home:before {content: "\e900";}
.el-icon-home2:before {content: "\e901";}
.el-icon-home5:before {content: "\e904";}
.el-icon-home7:before {content: "\e906";}
.el-icon-home8:before {content: "\e907";}
.el-icon-home9:before {content: "\e908";}
.el-icon-office:before {content: "\e909";}
.el-icon-city:before {content: "\e90a";}
.el-icon-newspaper:before {content: "\e90b";}
.el-icon-magazine:before {content: "\e90c";}
.el-icon-design:before {content: "\e90d";}
.el-icon-pencil:before {content: "\e90e";}
.el-icon-pencil3:before {content: "\e910";}
.el-icon-pencil4:before {content: "\e911";}
.el-icon-pencil5:before {content: "\e912";}
.el-icon-pencil6:before {content: "\e913";}
.el-icon-pencil7:before {content: "\e914";}
.el-icon-eraser:before {content: "\e915";}
.el-icon-eraser2:before {content: "\e916";}
.el-icon-eraser3:before {content: "\e917";}
.el-icon-quill2:before {content: "\e919";}
.el-icon-quill4:before {content: "\e91b";}
.el-icon-pen:before {content: "\e91c";}
.el-icon-pen-plus:before {content: "\e91d";}
.el-icon-pen-minus:before {content: "\e91e";}
.el-icon-pen2:before {content: "\e91f";}
.el-icon-blog:before {content: "\e925";}
.el-icon-pen6:before {content: "\e927";}
.el-icon-brush:before {content: "\e928";}
.el-icon-spray:before {content: "\e929";}
.el-icon-color-sampler:before {content: "\e92c";}
.el-icon-toggle:before {content: "\e92d";}
.el-icon-bucket:before {content: "\e92e";}
.el-icon-gradient:before {content: "\e930";}
.el-icon-eyedropper:before {content: "\e931";}
.el-icon-eyedropper2:before {content: "\e932";}
.el-icon-eyedropper3:before {content: "\e933";}
.el-icon-droplet:before {content: "\e934";}
.el-icon-droplet2:before {content: "\e935";}
.el-icon-color-clear:before {content: "\e937";}
.el-icon-paint-format:before {content: "\e938";}
.el-icon-stamp:before {content: "\e939";}
.el-icon-image2:before {content: "\e93c";}
.el-icon-image-compare:before {content: "\e93d";}
.el-icon-images2:before {content: "\e93e";}
.el-icon-image3:before {content: "\e93f";}
.el-icon-images3:before {content: "\e940";}
.el-icon-image4:before {content: "\e941";}
.el-icon-image5:before {content: "\e942";}
.el-icon-camera:before {content: "\e944";}
.el-icon-shutter:before {content: "\e947";}
.el-icon-headphones:before {content: "\e948";}
.el-icon-headset:before {content: "\e949";}
.el-icon-music:before {content: "\e94a";}
.el-icon-album:before {content: "\e950";}
.el-icon-tape:before {content: "\e952";}
.el-icon-piano:before {content: "\e953";}
.el-icon-speakers:before {content: "\e956";}
.el-icon-play:before {content: "\e957";}
.el-icon-clapboard-play:before {content: "\e959";}
.el-icon-clapboard:before {content: "\e95a";}
.el-icon-media:before {content: "\e95b";}
.el-icon-presentation:before {content: "\e95c";}
.el-icon-movie:before {content: "\e95d";}
.el-icon-film:before {content: "\e95e";}
.el-icon-film2:before {content: "\e95f";}
.el-icon-film3:before {content: "\e960";}
.el-icon-film4:before {content: "\e961";}
.el-icon-video-camera:before {content: "\e962";}
.el-icon-video-camera2:before {content: "\e963";}
.el-icon-video-camera-slash:before {content: "\e964";}
.el-icon-video-camera3:before {content: "\e965";}
.el-icon-dice:before {content: "\e96a";}
.el-icon-chess-king:before {content: "\e972";}
.el-icon-chess-queen:before {content: "\e973";}
.el-icon-chess:before {content: "\e978";}
.el-icon-megaphone:before {content: "\e97a";}
.el-icon-new:before {content: "\e97b";}
.el-icon-connection:before {content: "\e97c";}
.el-icon-station:before {content: "\e981";}
.el-icon-satellite-dish2:before {content: "\e98a";}
.el-icon-feed:before {content: "\e9b3";}
.el-icon-mic2:before {content: "\e9ce";}
.el-icon-mic-off2:before {content: "\e9e0";}
.el-icon-book:before {content: "\e9e1";}
.el-icon-book2:before {content: "\e9e9";}
.el-icon-book-play:before {content: "\e9fd";}
.el-icon-book3:before {content: "\ea01";}
.el-icon-bookmark:before {content: "\ea02";}
.el-icon-books:before {content: "\ea03";}
.el-icon-archive:before {content: "\ea04";}
.el-icon-reading:before {content: "\ea05";}
.el-icon-library2:before {content: "\ea06";}
.el-icon-graduation2:before {content: "\ea07";}
.el-icon-file-text:before {content: "\ea08";}
.el-icon-profile:before {content: "\ea09";}
.el-icon-file-empty:before {content: "\ea0a";}
.el-icon-file-empty2:before {content: "\ea0b";}
.el-icon-files-empty:before {content: "\ea0c";}
.el-icon-files-empty2:before {content: "\ea0d";}
.el-icon-file-plus:before {content: "\ea0e";}
.el-icon-file-plus2:before {content: "\ea0f";}
.el-icon-file-minus:before {content: "\ea10";}
.el-icon-file-minus2:before {content: "\ea11";}
.el-icon-file-download:before {content: "\ea12";}
.el-icon-file-download2:before {content: "\ea13";}
.el-icon-file-upload:before {content: "\ea14";}
.el-icon-file-upload2:before {content: "\ea15";}
.el-icon-file-check:before {content: "\ea16";}
.el-icon-file-check2:before {content: "\ea17";}
.el-icon-file-eye:before {content: "\ea18";}
.el-icon-file-eye2:before {content: "\ea19";}
.el-icon-file-text2:before {content: "\ea1a";}
.el-icon-file-text3:before {content: "\ea1b";}
.el-icon-file-picture:before {content: "\ea1c";}
.el-icon-file-picture2:before {content: "\ea1d";}
.el-icon-file-music:before {content: "\ea1e";}
.el-icon-file-music2:before {content: "\ea1f";}
.el-icon-file-play:before {content: "\ea20";}
.el-icon-file-play2:before {content: "\ea21";}
.el-icon-file-video:before {content: "\ea22";}
.el-icon-file-video2:before {content: "\ea23";}
.el-icon-copy:before {content: "\ea24";}
.el-icon-copy2:before {content: "\ea25";}
.el-icon-file-zip:before {content: "\ea26";}
.el-icon-file-zip2:before {content: "\ea27";}
.el-icon-file-xml:before {content: "\ea28";}
.el-icon-file-xml2:before {content: "\ea29";}
.el-icon-file-css:before {content: "\ea2a";}
.el-icon-file-css2:before {content: "\ea2b";}
.el-icon-file-presentation:before {content: "\ea2c";}
.el-icon-file-presentation2:before {content: "\ea2d";}
.el-icon-file-stats:before {content: "\ea2e";}
.el-icon-file-stats2:before {content: "\ea2f";}
.el-icon-file-locked:before {content: "\ea30";}
.el-icon-file-locked2:before {content: "\ea31";}
.el-icon-file-spreadsheet:before {content: "\ea32";}
.el-icon-file-spreadsheet2:before {content: "\ea33";}
.el-icon-copy3:before {content: "\ea34";}
.el-icon-copy4:before {content: "\ea35";}
.el-icon-paste:before {content: "\ea36";}
.el-icon-paste2:before {content: "\ea37";}
.el-icon-paste3:before {content: "\ea38";}
.el-icon-paste4:before {content: "\ea39";}
.el-icon-stack:before {content: "\ea3a";}
.el-icon-stack2:before {content: "\ea3b";}
.el-icon-stack3:before {content: "\ea3c";}
.el-icon-folder:before {content: "\ea3d";}
.el-icon-folder-search:before {content: "\ea3e";}
.el-icon-folder-download:before {content: "\ea3f";}
.el-icon-folder-upload:before {content: "\ea40";}
.el-icon-folder-plus:before {content: "\ea41";}
.el-icon-folder-plus2:before {content: "\ea42";}
.el-icon-folder-minus:before {content: "\ea43";}
.el-icon-folder-minus2:before {content: "\ea44";}
.el-icon-folder-check:before {content: "\ea45";}
.el-icon-folder-heart:before {content: "\ea46";}
.el-icon-folder-remove:before {content: "\ea47";}
.el-icon-folder2:before {content: "\ea48";}
.el-icon-folder-open:before {content: "\ea49";}
.el-icon-folder3:before {content: "\ea4a";}
.el-icon-folder4:before {content: "\ea4b";}
.el-icon-folder-plus3:before {content: "\ea4c";}
.el-icon-folder-minus3:before {content: "\ea4d";}
.el-icon-folder-plus4:before {content: "\ea4e";}
.el-icon-folder-minus4:before {content: "\ea4f";}
.el-icon-folder-download2:before {content: "\ea50";}
.el-icon-folder-upload2:before {content: "\ea51";}
.el-icon-folder-download3:before {content: "\ea52";}
.el-icon-folder-upload3:before {content: "\ea53";}
.el-icon-folder5:before {content: "\ea54";}
.el-icon-folder-open2:before {content: "\ea55";}
.el-icon-folder6:before {content: "\ea56";}
.el-icon-folder-open3:before {content: "\ea57";}
.el-icon-certificate:before {content: "\ea58";}
.el-icon-cc:before {content: "\ea59";}
.el-icon-price-tag:before {content: "\ea5a";}
.el-icon-price-tag2:before {content: "\ea5b";}
.el-icon-price-tags:before {content: "\ea5c";}
.el-icon-price-tag3:before {content: "\ea5d";}
.el-icon-price-tags2:before {content: "\ea5e";}
.el-icon-barcode2:before {content: "\ea5f";}
.el-icon-qrcode:before {content: "\ea60";}
.el-icon-ticket:before {content: "\ea61";}
.el-icon-theater:before {content: "\ea62";}
.el-icon-store:before {content: "\ea63";}
.el-icon-store2:before {content: "\ea64";}
.el-icon-cart:before {content: "\ea65";}
.el-icon-cart2:before {content: "\ea66";}
.el-icon-cart4:before {content: "\ea67";}
.el-icon-cart5:before {content: "\ea68";}
.el-icon-cart-add:before {content: "\ea69";}
.el-icon-cart-add2:before {content: "\ea6a";}
.el-icon-cart-remove:before {content: "\ea6b";}
.el-icon-basket:before {content: "\ea6c";}
.el-icon-bag:before {content: "\ea6d";}
.el-icon-percent:before {content: "\ea6f";}
.el-icon-coins:before {content: "\ea70";}
.el-icon-coin-dollar:before {content: "\ea71";}
.el-icon-coin-euro:before {content: "\ea72";}
.el-icon-coin-pound:before {content: "\ea73";}
.el-icon-coin-yen:before {content: "\ea74";}
.el-icon-piggy-bank:before {content: "\ea75";}
.el-icon-wallet:before {content: "\ea76";}
.el-icon-cash:before {content: "\ea77";}
.el-icon-cash2:before {content: "\ea78";}
.el-icon-cash3:before {content: "\ea79";}
.el-icon-cash4:before {content: "\ea7a";}
.el-icon-credit-card:before {content: "\ea6e";}
.el-icon-credit-card2:before {content: "\ea7b";}
.el-icon-calculator4:before {content: "\ea7c";}
.el-icon-calculator2:before {content: "\ea7d";}
.el-icon-calculator3:before {content: "\ea7e";}
.el-icon-chip:before {content: "\ea7f";}
.el-icon-lifebuoy:before {content: "\ea80";}
.el-icon-phone:before {content: "\ea81";}
.el-icon-phone2:before {content: "\ea82";}
.el-icon-phone-slash:before {content: "\ea83";}
.el-icon-phone-wave:before {content: "\ea84";}
.el-icon-phone-plus:before {content: "\ea85";}
.el-icon-phone-minus:before {content: "\ea86";}
.el-icon-phone-plus2:before {content: "\ea87";}
.el-icon-phone-minus2:before {content: "\ea88";}
.el-icon-phone-incoming:before {content: "\ea89";}
.el-icon-phone-outgoing:before {content: "\ea8a";}
.el-icon-phone-hang-up:before {content: "\ea8e";}
.el-icon-address-book:before {content: "\ea90";}
.el-icon-address-book2:before {content: "\ea91";}
.el-icon-address-book3:before {content: "\ea92";}
.el-icon-notebook:before {content: "\ea93";}
.el-icon-envelop:before {content: "\ea94";}
.el-icon-envelop2:before {content: "\ea95";}
.el-icon-envelop3:before {content: "\ea96";}
.el-icon-envelop4:before {content: "\ea97";}
.el-icon-envelop5:before {content: "\ea98";}
.el-icon-mailbox:before {content: "\ea99";}
.el-icon-pushpin:before {content: "\ea9a";}
.el-icon-location3:before {content: "\ea9d";}
.el-icon-location4:before {content: "\ea9e";}
.el-icon-compass4:before {content: "\ea9f";}
.el-icon-map:before {content: "\eaa0";}
.el-icon-map4:before {content: "\eaa1";}
.el-icon-map5:before {content: "\eaa2";}
.el-icon-direction:before {content: "\eaa3";}
.el-icon-reset:before {content: "\eaa4";}
.el-icon-history:before {content: "\eaa5";}
.el-icon-watch:before {content: "\eaa6";}
.el-icon-watch2:before {content: "\eaa7";}
.el-icon-alarm:before {content: "\eaa8";}
.el-icon-alarm-add:before {content: "\eaa9";}
.el-icon-alarm-check:before {content: "\eaaa";}
.el-icon-alarm-cancel:before {content: "\eaab";}
.el-icon-bell2:before {content: "\eaac";}
.el-icon-bell3:before {content: "\eaad";}
.el-icon-bell-plus:before {content: "\eaae";}
.el-icon-bell-minus:before {content: "\eaaf";}
.el-icon-bell-check:before {content: "\eab0";}
.el-icon-bell-cross:before {content: "\eab1";}
.el-icon-calendar:before {content: "\eab2";}
.el-icon-calendar2:before {content: "\eab3";}
.el-icon-calendar3:before {content: "\eab4";}
.el-icon-calendar52:before {content: "\eab6";}
.el-icon-printer:before {content: "\eab7";}
.el-icon-printer2:before {content: "\eab8";}
.el-icon-printer4:before {content: "\eab9";}
.el-icon-shredder:before {content: "\eaba";}
.el-icon-mouse:before {content: "\eabb";}
.el-icon-mouse-left:before {content: "\eabc";}
.el-icon-mouse-right:before {content: "\eabd";}
.el-icon-keyboard:before {content: "\eabe";}
.el-icon-typewriter:before {content: "\eabf";}
.el-icon-display:before {content: "\eac0";}
.el-icon-display4:before {content: "\eac1";}
.el-icon-laptop:before {content: "\eac2";}
.el-icon-mobile:before {content: "\eac3";}
.el-icon-mobile2:before {content: "\eac4";}
.el-icon-tablet:before {content: "\eac5";}
.el-icon-mobile3:before {content: "\eac6";}
.el-icon-tv:before {content: "\eac7";}
.el-icon-radio:before {content: "\eac8";}
.el-icon-cabinet:before {content: "\eac9";}
.el-icon-drawer:before {content: "\eaca";}
.el-icon-drawer2:before {content: "\eacb";}
.el-icon-drawer-out:before {content: "\eacc";}
.el-icon-drawer-in:before {content: "\eacd";}
.el-icon-drawer3:before {content: "\eace";}
.el-icon-box:before {content: "\eacf";}
.el-icon-box-add:before {content: "\ead0";}
.el-icon-box-remove:before {content: "\ead1";}
.el-icon-download:before {content: "\ead2";}
.el-icon-upload:before {content: "\ead3";}
.el-icon-floppy-disk:before {content: "\ead4";}
.el-icon-floppy-disks:before {content: "\ead5";}
.el-icon-usb-stick:before {content: "\ead6";}
.el-icon-drive:before {content: "\ead7";}
.el-icon-server:before {content: "\ead8";}
.el-icon-database:before {content: "\ead9";}
.el-icon-database2:before {content: "\eada";}
.el-icon-database4:before {content: "\eadb";}
.el-icon-database-menu:before {content: "\eadc";}
.el-icon-database-add:before {content: "\eadd";}
.el-icon-database-remove:before {content: "\eade";}
.el-icon-database-insert:before {content: "\eadf";}
.el-icon-database-export:before {content: "\eae0";}
.el-icon-database-upload:before {content: "\eae1";}
.el-icon-database-refresh:before {content: "\eae2";}
.el-icon-database-diff:before {content: "\eae3";}
.el-icon-database-edit2:before {content: "\eae5";}
.el-icon-database-check:before {content: "\eae6";}
.el-icon-database-arrow:before {content: "\eae7";}
.el-icon-database-time2:before {content: "\eae9";}
.el-icon-undo:before {content: "\eaea";}
.el-icon-redo:before {content: "\eaeb";}
.el-icon-rotate-ccw:before {content: "\eaec";}
.el-icon-rotate-cw:before {content: "\eaed";}
.el-icon-rotate-ccw2:before {content: "\eaee";}
.el-icon-rotate-cw2:before {content: "\eaef";}
.el-icon-rotate-ccw3:before {content: "\eaf0";}
.el-icon-rotate-cw3:before {content: "\eaf1";}
.el-icon-flip-vertical2:before {content: "\eaf2";}
.el-icon-flip-horizontal2:before {content: "\eaf3";}
.el-icon-flip-vertical3:before {content: "\eaf4";}
.el-icon-flip-vertical4:before {content: "\eaf5";}
.el-icon-angle:before {content: "\eaf6";}
.el-icon-shear:before {content: "\eaf7";}
.el-icon-align-left:before {content: "\eafc";}
.el-icon-align-center-horizontal:before {content: "\eafd";}
.el-icon-align-right:before {content: "\eafe";}
.el-icon-align-top:before {content: "\eaff";}
.el-icon-align-center-vertical:before {content: "\eb00";}
.el-icon-align-bottom:before {content: "\eb01";}
.el-icon-undo2:before {content: "\eb02";}
.el-icon-redo2:before {content: "\eb03";}
.el-icon-forward:before {content: "\eb04";}
.el-icon-reply:before {content: "\eb05";}
.el-icon-reply-all:before {content: "\eb06";}
.el-icon-bubble:before {content: "\eb07";}
.el-icon-bubbles:before {content: "\eb08";}
.el-icon-bubbles2:before {content: "\eb09";}
.el-icon-bubble2:before {content: "\eb0a";}
.el-icon-bubbles3:before {content: "\eb0b";}
.el-icon-bubbles4:before {content: "\eb0c";}
.el-icon-bubble-notification:before {content: "\eb0d";}
.el-icon-bubbles5:before {content: "\eb0e";}
.el-icon-bubbles6:before {content: "\eb0f";}
.el-icon-bubble6:before {content: "\eb10";}
.el-icon-bubbles7:before {content: "\eb11";}
.el-icon-bubble7:before {content: "\eb12";}
.el-icon-bubbles8:before {content: "\eb13";}
.el-icon-bubble8:before {content: "\eb14";}
.el-icon-bubble-dots3:before {content: "\eb15";}
.el-icon-bubble-lines3:before {content: "\eb16";}
.el-icon-bubble9:before {content: "\eb17";}
.el-icon-bubble-dots4:before {content: "\eb18";}
.el-icon-bubble-lines4:before {content: "\eb19";}
.el-icon-bubbles9:before {content: "\eb1a";}
.el-icon-bubbles10:before {content: "\eb1b";}
.el-icon-user:before {content: "\eb33";}
.el-icon-users:before {content: "\eb34";}
.el-icon-user-plus:before {content: "\eb35";}
.el-icon-user-minus:before {content: "\eb36";}
.el-icon-user-cancel:before {content: "\eb37";}
.el-icon-user-block:before {content: "\eb38";}
.el-icon-user-lock:before {content: "\eb39";}
.el-icon-user-check:before {content: "\eb3a";}
.el-icon-users2:before {content: "\eb3b";}
.el-icon-users4:before {content: "\eb44";}
.el-icon-user-tie:before {content: "\eb45";}
.el-icon-collaboration:before {content: "\eb46";}
.el-icon-vcard:before {content: "\eb47";}
.el-icon-hat:before {content: "\ebb8";}
.el-icon-bowtie:before {content: "\ebb9";}
.el-icon-quotes-left:before {content: "\eb49";}
.el-icon-quotes-right:before {content: "\eb4a";}
.el-icon-quotes-left2:before {content: "\eb4b";}
.el-icon-quotes-right2:before {content: "\eb4c";}
.el-icon-hour-glass:before {content: "\eb4d";}
.el-icon-hour-glass2:before {content: "\eb4e";}
.el-icon-hour-glass3:before {content: "\eb4f";}
.el-icon-loading:before {content: "\eb52";}
.el-icon-spinner:before {content: "\eb50";}
.el-icon-spinner2:before {content: "\eb51";}
.el-icon-spinner3:before {content: "\eb52";}
.el-icon-spinner4:before {content: "\eb53";}
.el-icon-spinner6:before {content: "\eb54";}
.el-icon-spinner9:before {content: "\eb55";}
.el-icon-spinner10:before {content: "\eb56";}
.el-icon-spinner11:before {content: "\eb57";}
.el-icon-microscope:before {content: "\eb58";}
.el-icon-enlarge:before {content: "\eb59";}
.el-icon-shrink:before {content: "\eb5a";}
.el-icon-enlarge3:before {content: "\eb5b";}
.el-icon-shrink3:before {content: "\eb5c";}
.el-icon-enlarge5:before {content: "\eb5d";}
.el-icon-shrink5:before {content: "\eb5e";}
.el-icon-enlarge6:before {content: "\eb5f";}
.el-icon-shrink6:before {content: "\eb60";}
.el-icon-enlarge7:before {content: "\eb61";}
.el-icon-shrink7:before {content: "\eb62";}
.el-icon-key:before {content: "\eb63";}
.el-icon-lock:before {content: "\eb65";}
.el-icon-lock2:before {content: "\eb66";}
.el-icon-lock4:before {content: "\eb67";}
.el-icon-unlocked:before {content: "\eb68";}
.el-icon-lock5:before {content: "\eb69";}
.el-icon-unlocked2:before {content: "\eb6a";}
.el-icon-safe:before {content: "\eb6b";}
.el-icon-wrench:before {content: "\eb6c";}
.el-icon-wrench2:before {content: "\eb6d";}
.el-icon-wrench3:before {content: "\eb6e";}
.el-icon-equalizer:before {content: "\eb6f";}
.el-icon-equalizer2:before {content: "\eb70";}
.el-icon-equalizer3:before {content: "\eb71";}
.el-icon-equalizer4:before {content: "\eb72";}
.el-icon-cog:before {content: "\eb73";}
.el-icon-cogs:before {content: "\eb74";}
.el-icon-cog2:before {content: "\eb75";}
.el-icon-cog3:before {content: "\eb76";}
.el-icon-cog4:before {content: "\eb77";}
.el-icon-cog52:before {content: "\eb78";}
.el-icon-cog6:before {content: "\eb79";}
.el-icon-cog7:before {content: "\eb7a";}
.el-icon-hammer:before {content: "\eb7c";}
.el-icon-hammer-wrench:before {content: "\eb7d";}
.el-icon-magic-wand:before {content: "\eb7e";}
.el-icon-magic-wand2:before {content: "\eb7f";}
.el-icon-pulse2:before {content: "\eb80";}
.el-icon-aid-kit:before {content: "\eb81";}
.el-icon-bug2:before {content: "\eb83";}
.el-icon-construction:before {content: "\eb85";}
.el-icon-traffic-cone:before {content: "\eb86";}
.el-icon-traffic-lights:before {content: "\eb87";}
.el-icon-pie-chart:before {content: "\eb88";}
.el-icon-pie-chart2:before {content: "\eb89";}
.el-icon-pie-chart3:before {content: "\eb8a";}
.el-icon-pie-chart4:before {content: "\eb8b";}
.el-icon-pie-chart5:before {content: "\eb8c";}
.el-icon-pie-chart6:before {content: "\eb8d";}
.el-icon-pie-chart7:before {content: "\eb8e";}
.el-icon-stats-dots:before {content: "\eb8f";}
.el-icon-stats-bars:before {content: "\eb90";}
.el-icon-pie-chart8:before {content: "\eb91";}
.el-icon-stats-bars2:before {content: "\eb92";}
.el-icon-stats-bars3:before {content: "\eb93";}
.el-icon-stats-bars4:before {content: "\eb94";}
.el-icon-chart:before {content: "\eb97";}
.el-icon-stats-growth:before {content: "\eb98";}
.el-icon-stats-decline:before {content: "\eb99";}
.el-icon-stats-growth2:before {content: "\eb9a";}
.el-icon-stats-decline2:before {content: "\eb9b";}
.el-icon-stairs-up:before {content: "\eb9c";}
.el-icon-stairs-down:before {content: "\eb9d";}
.el-icon-stairs:before {content: "\eb9e";}
.el-icon-ladder:before {content: "\eba0";}
.el-icon-rating:before {content: "\eba1";}
.el-icon-rating2:before {content: "\eba2";}
.el-icon-rating3:before {content: "\eba3";}
.el-icon-podium:before {content: "\eba5";}
.el-icon-stars:before {content: "\eba6";}
.el-icon-medal-star:before {content: "\eba7";}
.el-icon-medal:before {content: "\eba8";}
.el-icon-medal2:before {content: "\eba9";}
.el-icon-medal-first:before {content: "\ebaa";}
.el-icon-medal-second:before {content: "\ebab";}
.el-icon-medal-third:before {content: "\ebac";}
.el-icon-crown:before {content: "\ebad";}
.el-icon-trophy2:before {content: "\ebaf";}
.el-icon-trophy3:before {content: "\ebb0";}
.el-icon-diamond:before {content: "\ebb1";}
.el-icon-trophy4:before {content: "\ebb2";}
.el-icon-gift:before {content: "\ebb3";}
.el-icon-pipe:before {content: "\ebb6";}
.el-icon-mustache:before {content: "\ebb7";}
.el-icon-cup2:before {content: "\ebc6";}
.el-icon-coffee:before {content: "\ebc8";}
.el-icon-paw:before {content: "\ebd5";}
.el-icon-footprint:before {content: "\ebd6";}
.el-icon-rocket:before {content: "\ebda";}
.el-icon-meter2:before {content: "\ebdc";}
.el-icon-meter-slow:before {content: "\ebdd";}
.el-icon-meter-fast:before {content: "\ebdf";}
.el-icon-hammer2:before {content: "\ebe1";}
.el-icon-balance:before {content: "\ebe2";}
.el-icon-fire:before {content: "\ebe5";}
.el-icon-fire2:before {content: "\ebe6";}
.el-icon-lab:before {content: "\ebe7";}
.el-icon-atom:before {content: "\ebe8";}
.el-icon-atom2:before {content: "\ebe9";}
.el-icon-bin:before {content: "\ebfa";}
.el-icon-bin2:before {content: "\ebfb";}
.el-icon-briefcase:before {content: "\ebff";}
.el-icon-briefcase3:before {content: "\ec01";}
.el-icon-airplane2:before {content: "\ec03";}
.el-icon-airplane3:before {content: "\ec04";}
.el-icon-airplane4:before {content: "\ec05";}
.el-icon-paperplane:before {content: "\ec06";}
.el-icon-car:before {content: "\ec07";}
.el-icon-steering-wheel:before {content: "\ec08";}
.el-icon-car2:before {content: "\ec09";}
.el-icon-gas:before {content: "\ec0a";}
.el-icon-bus:before {content: "\ec0b";}
.el-icon-truck:before {content: "\ec0c";}
.el-icon-bike:before {content: "\ec0d";}
.el-icon-road:before {content: "\ec0e";}
.el-icon-train:before {content: "\ec0f";}
.el-icon-train2:before {content: "\ec10";}
.el-icon-ship:before {content: "\ec11";}
.el-icon-boat:before {content: "\ec12";}
.el-icon-chopper:before {content: "\ec13";}
.el-icon-cube:before {content: "\ec15";}
.el-icon-cube2:before {content: "\ec16";}
.el-icon-cube3:before {content: "\ec17";}
.el-icon-cube4:before {content: "\ec18";}
.el-icon-pyramid:before {content: "\ec19";}
.el-icon-pyramid2:before {content: "\ec1a";}
.el-icon-package:before {content: "\ec1b";}
.el-icon-puzzle:before {content: "\ec1c";}
.el-icon-puzzle2:before {content: "\ec1d";}
.el-icon-puzzle3:before {content: "\ec1e";}
.el-icon-puzzle4:before {content: "\ec1f";}
.el-icon-glasses-3d2:before {content: "\ec21";}
.el-icon-brain:before {content: "\ec24";}
.el-icon-accessibility:before {content: "\ec25";}
.el-icon-accessibility2:before {content: "\ec26";}
.el-icon-strategy:before {content: "\ec27";}
.el-icon-target:before {content: "\ec28";}
.el-icon-target2:before {content: "\ec29";}
.el-icon-shield-check:before {content: "\ec2f";}
.el-icon-shield-notice:before {content: "\ec30";}
.el-icon-shield2:before {content: "\ec31";}
.el-icon-racing:before {content: "\ec40";}
.el-icon-finish:before {content: "\ec41";}
.el-icon-power2:before {content: "\ec46";}
.el-icon-power3:before {content: "\ec47";}
.el-icon-switch:before {content: "\ec48";}
.el-icon-switch22:before {content: "\ec49";}
.el-icon-power-cord:before {content: "\ec4a";}
.el-icon-clipboard:before {content: "\ec4d";}
.el-icon-clipboard2:before {content: "\ec4e";}
.el-icon-clipboard3:before {content: "\ec4f";}
.el-icon-clipboard4:before {content: "\ec50";}
.el-icon-clipboard5:before {content: "\ec51";}
.el-icon-clipboard6:before {content: "\ec52";}
.el-icon-playlist:before {content: "\ec53";}
.el-icon-playlist-add:before {content: "\ec54";}
.el-icon-list-numbered:before {content: "\ec55";}
.el-icon-list:before {content: "\ec56";}
.el-icon-list2:before {content: "\ec57";}
.el-icon-more:before {content: "\ec58";}
.el-icon-more2:before {content: "\ec59";}
.el-icon-grid:before {content: "\ec5a";}
.el-icon-grid2:before {content: "\ec5b";}
.el-icon-grid3:before {content: "\ec5c";}
.el-icon-grid4:before {content: "\ec5d";}
.el-icon-grid52:before {content: "\ec5e";}
.el-icon-grid6:before {content: "\ec5f";}
.el-icon-grid7:before {content: "\ec60";}
.el-icon-tree5:before {content: "\ec61";}
.el-icon-tree6:before {content: "\ec62";}
.el-icon-tree7:before {content: "\ec63";}
.el-icon-lan:before {content: "\ec64";}
.el-icon-lan2:before {content: "\ec65";}
.el-icon-lan3:before {content: "\ec66";}
.el-icon-menu:before {content: "\ec67";}
.el-icon-circle-small:before {content: "\ec68";}
.el-icon-menu2:before {content: "\ec69";}
.el-icon-menu3:before {content: "\ec6a";}
.el-icon-menu4:before {content: "\ec6b";}
.el-icon-menu5:before {content: "\ec6c";}
.el-icon-menu62:before {content: "\ec6d";}
.el-icon-menu7:before {content: "\ec6e";}
.el-icon-menu8:before {content: "\ec6f";}
.el-icon-menu9:before {content: "\ec70";}
.el-icon-menu10:before {content: "\ec71";}
.el-icon-cloud:before {content: "\ec72";}
.el-icon-cloud-download:before {content: "\ec73";}
.el-icon-cloud-upload:before {content: "\ec74";}
.el-icon-cloud-check:before {content: "\ec75";}
.el-icon-cloud2:before {content: "\ec76";}
.el-icon-cloud-download2:before {content: "\ec77";}
.el-icon-cloud-upload2:before {content: "\ec78";}
.el-icon-cloud-check2:before {content: "\ec79";}
.el-icon-import:before {content: "\ec7e";}
.el-icon-download4:before {content: "\ec80";}
.el-icon-upload4:before {content: "\ec81";}
.el-icon-download7:before {content: "\ec86";}
.el-icon-upload7:before {content: "\ec87";}
.el-icon-download10:before {content: "\ec8c";}
.el-icon-upload10:before {content: "\ec8d";}
.el-icon-sphere:before {content: "\ec8e";}
.el-icon-sphere3:before {content: "\ec90";}
.el-icon-earth:before {content: "\ec93";}
.el-icon-link:before {content: "\ec96";}
.el-icon-unlink:before {content: "\ec97";}
.el-icon-link2:before {content: "\ec98";}
.el-icon-unlink2:before {content: "\ec99";}
.el-icon-anchor:before {content: "\eca0";}
.el-icon-flag3:before {content: "\eca3";}
.el-icon-flag4:before {content: "\eca4";}
.el-icon-flag7:before {content: "\eca7";}
.el-icon-flag8:before {content: "\eca8";}
.el-icon-attachment:before {content: "\eca9";}
.el-icon-attachment2:before {content: "\ecaa";}
.el-icon-view:before {content: "\ecab";}
.el-icon-eye:before {content: "\ecab";}
.el-icon-eye-plus:before {content: "\ecac";}
.el-icon-eye-minus:before {content: "\ecad";}
.el-icon-eye-blocked:before {content: "\ecae";}
.el-icon-eye2:before {content: "\ecaf";}
.el-icon-eye-blocked2:before {content: "\ecb0";}
.el-icon-eye4:before {content: "\ecb3";}
.el-icon-bookmark2:before {content: "\ecb4";}
.el-icon-bookmark3:before {content: "\ecb5";}
.el-icon-bookmarks:before {content: "\ecb6";}
.el-icon-bookmark4:before {content: "\ecb7";}
.el-icon-spotlight2:before {content: "\ecb8";}
.el-icon-starburst:before {content: "\ecb9";}
.el-icon-snowflake:before {content: "\ecba";}
.el-icon-weather-windy:before {content: "\ecd0";}
.el-icon-fan:before {content: "\ecd1";}
.el-icon-umbrella:before {content: "\ecd2";}
.el-icon-sun3:before {content: "\ecd3";}
.el-icon-contrast:before {content: "\ecd4";}
.el-icon-bed2:before {content: "\ecda";}
.el-icon-furniture:before {content: "\ecdb";}
.el-icon-chair:before {content: "\ecdc";}
.el-icon-star-empty3:before {content: "\ece0";}
.el-icon-star-half:before {content: "\ece1";}
.el-icon-star-full2:before {content: "\ece2";}
.el-icon-heart5:before {content: "\ece9";}
.el-icon-heart6:before {content: "\ecea";}
.el-icon-heart-broken2:before {content: "\eceb";}
.el-icon-thumbs-up2:before {content: "\ecf2";}
.el-icon-thumbs-down2:before {content: "\ecf4";}
.el-icon-thumbs-up3:before {content: "\ecf5";}
.el-icon-thumbs-down3:before {content: "\ecf6";}
.el-icon-height:before {content: "\ecf7";}
.el-icon-man:before {content: "\ecf8";}
.el-icon-woman:before {content: "\ecf9";}
.el-icon-man-woman:before {content: "\ecfa";}
.el-icon-yin-yang:before {content: "\ecfe";}
.el-icon-cursor:before {content: "\ed23";}
.el-icon-cursor2:before {content: "\ed24";}
.el-icon-lasso2:before {content: "\ed26";}
.el-icon-select2:before {content: "\ed28";}
.el-icon-point-up:before {content: "\ed29";}
.el-icon-point-right:before {content: "\ed2a";}
.el-icon-point-down:before {content: "\ed2b";}
.el-icon-point-left:before {content: "\ed2c";}
.el-icon-pointer:before {content: "\ed2d";}
.el-icon-reminder:before {content: "\ed2e";}
.el-icon-drag-left-right:before {content: "\ed2f";}
.el-icon-drag-left:before {content: "\ed30";}
.el-icon-drag-right:before {content: "\ed31";}
.el-icon-touch:before {content: "\ed32";}
.el-icon-multitouch:before {content: "\ed33";}
.el-icon-touch-zoom:before {content: "\ed34";}
.el-icon-touch-pinch:before {content: "\ed35";}
.el-icon-hand:before {content: "\ed36";}
.el-icon-grab:before {content: "\ed37";}
.el-icon-stack-empty:before {content: "\ed38";}
.el-icon-stack-plus:before {content: "\ed39";}
.el-icon-stack-minus:before {content: "\ed3a";}
.el-icon-stack-star:before {content: "\ed3b";}
.el-icon-stack-picture:before {content: "\ed3c";}
.el-icon-stack-down:before {content: "\ed3d";}
.el-icon-stack-up:before {content: "\ed3e";}
.el-icon-stack-cancel:before {content: "\ed3f";}
.el-icon-stack-check:before {content: "\ed40";}
.el-icon-stack-text:before {content: "\ed41";}
.el-icon-stack4:before {content: "\ed47";}
.el-icon-stack-music:before {content: "\ed48";}
.el-icon-stack-play:before {content: "\ed49";}
.el-icon-move:before {content: "\ed4a";}
.el-icon-dots:before {content: "\ed4b";}
.el-icon-warning:before {content: "\ed4c";}
.el-icon-warning22:before {content: "\ed4d";}
.el-icon-notification2:before {content: "\ed4f";}
.el-icon-question3:before {content: "\ed52";}
.el-icon-question4:before {content: "\ed53";}
.el-icon-plus:before {content: "\ed5a";}
.el-icon-plus3:before {content: "\ed5a";}
.el-icon-minus3:before {content: "\ed5b";}
.el-icon-caret-right:before {content: "\e9cb";}
.el-icon-plus-circle2:before {content: "\ed5e";}
.el-icon-minus-circle2:before {content: "\ed5f";}
.el-icon-cancel-circle2:before {content: "\ed63";}
.el-icon-circle-close:before {content: "\ed63";}
.el-icon-blocked:before {content: "\ed64";}
.el-icon-cancel-square:before {content: "\ed65";}
.el-icon-cancel-square2:before {content: "\ed66";}
.el-icon-spam:before {content: "\ed68";}
.el-icon-close:before {content: "\ed6a";}
.el-icon-cross2:before {content: "\ed6a";}
.el-icon-cross3:before {content: "\ed6b";}
.el-icon-checkmark:before {content: "\ed6c";}
.el-icon-checkmark3:before {content: "\ed6e";}
.el-icon-checkmark2:before {content: "\e372";}
.el-icon-checkmark4:before {content: "\ed6f";}
.el-icon-spell-check:before {content: "\ed71";}
.el-icon-spell-check2:before {content: "\ed72";}
.el-icon-enter:before {content: "\ed73";}
.el-icon-exit:before {content: "\ed74";}
.el-icon-enter2:before {content: "\ed75";}
.el-icon-exit2:before {content: "\ed76";}
.el-icon-enter3:before {content: "\ed77";}
.el-icon-exit3:before {content: "\ed78";}
.el-icon-wall:before {content: "\ed79";}
.el-icon-fence:before {content: "\ed7a";}
.el-icon-play3:before {content: "\ed7b";}
.el-icon-pause:before {content: "\ed7c";}
.el-icon-stop:before {content: "\ed7d";}
.el-icon-previous:before {content: "\ed7e";}
.el-icon-next:before {content: "\ed7f";}
.el-icon-backward:before {content: "\ed80";}
.el-icon-forward2:before {content: "\ed81";}
.el-icon-play4:before {content: "\ed82";}
.el-icon-pause2:before {content: "\ed83";}
.el-icon-stop2:before {content: "\ed84";}
.el-icon-backward2:before {content: "\ed85";}
.el-icon-forward3:before {content: "\ed86";}
.el-icon-first:before {content: "\ed87";}
.el-icon-last:before {content: "\ed88";}
.el-icon-previous2:before {content: "\ed89";}
.el-icon-next2:before {content: "\ed8a";}
.el-icon-eject:before {content: "\ed8b";}
.el-icon-volume-high:before {content: "\ed8c";}
.el-icon-volume-medium:before {content: "\ed8d";}
.el-icon-volume-low:before {content: "\ed8e";}
.el-icon-volume-mute:before {content: "\ed8f";}
.el-icon-speaker-left:before {content: "\ed90";}
.el-icon-speaker-right:before {content: "\ed91";}
.el-icon-volume-mute2:before {content: "\ed92";}
.el-icon-volume-increase:before {content: "\ed93";}
.el-icon-volume-decrease:before {content: "\ed94";}
.el-icon-volume-mute5:before {content: "\eda4";}
.el-icon-loop:before {content: "\eda5";}
.el-icon-loop3:before {content: "\eda7";}
.el-icon-infinite-square:before {content: "\eda8";}
.el-icon-infinite:before {content: "\eda9";}
.el-icon-loop4:before {content: "\edab";}
.el-icon-shuffle:before {content: "\edac";}
.el-icon-wave:before {content: "\edae";}
.el-icon-wave2:before {content: "\edaf";}
.el-icon-split:before {content: "\edb0";}
.el-icon-merge:before {content: "\edb1";}
.el-icon-arrow-up5:before {content: "\edc4";}
.el-icon-arrow-right5:before {content: "\edc5";}
.el-icon-arrow-down5:before {content: "\edc6";}
.el-icon-arrow-left5:before {content: "\edc7";}
.el-icon-arrow-up-left2:before {content: "\edd0";}
.el-icon-arrow-up7:before {content: "\edd1";}
.el-icon-arrow-up-right2:before {content: "\edd2";}
.el-icon-arrow-right7:before {content: "\edd3";}
.el-icon-arrow-down-right2:before {content: "\edd4";}
.el-icon-arrow-down7:before {content: "\edd5";}
.el-icon-arrow-down-left2:before {content: "\edd6";}
.el-icon-arrow-left7:before {content: "\edd7";}
.el-icon-arrow-up-left3:before {content: "\edd8";}
.el-icon-arrow-up8:before {content: "\edd9";}
.el-icon-arrow-up-right3:before {content: "\edda";}
.el-icon-arrow-right8:before {content: "\eddb";}
.el-icon-arrow-down-right3:before {content: "\eddc";}
.el-icon-arrow-down8:before {content: "\eddd";}
.el-icon-arrow-down-left3:before {content: "\edde";}
.el-icon-arrow-left8:before {content: "\eddf";}
.el-icon-circle-up2:before {content: "\ede4";}
.el-icon-circle-right2:before {content: "\ede5";}
.el-icon-circle-down2:before {content: "\ede6";}
.el-icon-circle-left2:before {content: "\ede7";}
.el-icon-arrow-resize7:before {content: "\edfe";}
.el-icon-arrow-resize8:before {content: "\edff";}
.el-icon-square-up-left:before {content: "\ee00";}
.el-icon-square-up:before {content: "\ee01";}
.el-icon-square-up-right:before {content: "\ee02";}
.el-icon-square-right:before {content: "\ee03";}
.el-icon-square-down-right:before {content: "\ee04";}
.el-icon-square-down:before {content: "\ee05";}
.el-icon-square-down-left:before {content: "\ee06";}
.el-icon-square-left:before {content: "\ee07";}
.el-icon-arrow-up15:before {content: "\ee30";}
.el-icon-arrow-right15:before {content: "\ee31";}
.el-icon-arrow-down15:before {content: "\ee32";}
.el-icon-arrow-left15:before {content: "\ee33";}
.el-icon-arrow-up16:before {content: "\ee34";}
.el-icon-arrow-right16:before {content: "\ee35";}
.el-icon-arrow-down16:before {content: "\ee36";}
.el-icon-arrow-left16:before {content: "\ee37";}
.el-icon-menu-open:before {content: "\ee38";}
.el-icon-menu-open2:before {content: "\ee39";}
.el-icon-menu-close:before {content: "\ee3a";}
.el-icon-menu-close2:before {content: "\ee3b";}
.el-icon-enter5:before {content: "\ee3d";}
.el-icon-esc:before {content: "\ee3e";}
.el-icon-enter6:before {content: "\ee3f";}
.el-icon-backspace:before {content: "\ee40";}
.el-icon-backspace2:before {content: "\ee41";}
.el-icon-tab:before {content: "\ee42";}
.el-icon-transmission:before {content: "\ee43";}
.el-icon-sort:before {content: "\ee45";}
.el-icon-move-up2:before {content: "\ee47";}
.el-icon-move-down2:before {content: "\ee48";}
.el-icon-sort-alpha-asc:before {content: "\ee49";}
.el-icon-sort-alpha-desc:before {content: "\ee4a";}
.el-icon-sort-numeric-asc:before {content: "\ee4b";}
.el-icon-sort-numberic-desc:before {content: "\ee4c";}
.el-icon-sort-amount-asc:before {content: "\ee4d";}
.el-icon-sort-amount-desc:before {content: "\ee4e";}
.el-icon-sort-time-asc:before {content: "\ee4f";}
.el-icon-sort-time-desc:before {content: "\ee50";}
.el-icon-battery-6:before {content: "\ee51";}
.el-icon-battery-0:before {content: "\ee57";}
.el-icon-battery-charging:before {content: "\ee58";}
.el-icon-command:before {content: "\ee5f";}
.el-icon-shift:before {content: "\ee60";}
.el-icon-ctrl:before {content: "\ee61";}
.el-icon-opt:before {content: "\ee62";}
.el-icon-checkbox-checked:before {content: "\ee63";}
.el-icon-checkbox-unchecked:before {content: "\ee64";}
.el-icon-checkbox-partial:before {content: "\ee65";}
.el-icon-square:before {content: "\ee66";}
.el-icon-triangle:before {content: "\ee67";}
.el-icon-triangle2:before {content: "\ee68";}
.el-icon-diamond3:before {content: "\ee69";}
.el-icon-diamond4:before {content: "\ee6a";}
.el-icon-checkbox-checked2:before {content: "\ee6b";}
.el-icon-checkbox-unchecked2:before {content: "\ee6c";}
.el-icon-checkbox-partial2:before {content: "\ee6d";}
.el-icon-radio-checked:before {content: "\ee6e";}
.el-icon-radio-checked2:before {content: "\ee6f";}
.el-icon-radio-unchecked:before {content: "\ee70";}
.el-icon-success:before {content: "\ee73";}
.el-icon-checkmark-circle:before {content: "\ee73";}
.el-icon-circle:before {content: "\ee74";}
.el-icon-circle2:before {content: "\ee75";}
.el-icon-circles:before {content: "\ee76";}
.el-icon-circles2:before {content: "\ee77";}
.el-icon-crop:before {content: "\ee78";}
.el-icon-crop2:before {content: "\ee79";}
.el-icon-make-group:before {content: "\ee7a";}
.el-icon-ungroup:before {content: "\ee7b";}
.el-icon-vector:before {content: "\ee7c";}
.el-icon-vector2:before {content: "\ee7d";}
.el-icon-rulers:before {content: "\ee7e";}
.el-icon-pencil-ruler:before {content: "\ee80";}
.el-icon-scissors:before {content: "\ee81";}
.el-icon-filter3:before {content: "\ee88";}
.el-icon-filter4:before {content: "\ee89";}
.el-icon-font:before {content: "\ee8a";}
.el-icon-ampersand2:before {content: "\ee8b";}
.el-icon-ligature:before {content: "\ee8c";}
.el-icon-font-size:before {content: "\ee8e";}
.el-icon-typography:before {content: "\ee8f";}
.el-icon-text-height:before {content: "\ee90";}
.el-icon-text-width:before {content: "\ee91";}
.el-icon-height2:before {content: "\ee92";}
.el-icon-width:before {content: "\ee93";}
.el-icon-strikethrough2:before {content: "\ee98";}
.el-icon-font-size2:before {content: "\ee99";}
.el-icon-bold2:before {content: "\ee9a";}
.el-icon-underline2:before {content: "\ee9b";}
.el-icon-italic2:before {content: "\ee9c";}
.el-icon-strikethrough3:before {content: "\ee9d";}
.el-icon-omega:before {content: "\ee9e";}
.el-icon-sigma:before {content: "\ee9f";}
.el-icon-nbsp:before {content: "\eea0";}
.el-icon-page-break:before {content: "\eea1";}
.el-icon-page-break2:before {content: "\eea2";}
.el-icon-superscript:before {content: "\eea3";}
.el-icon-subscript:before {content: "\eea4";}
.el-icon-superscript2:before {content: "\eea5";}
.el-icon-subscript2:before {content: "\eea6";}
.el-icon-text-color:before {content: "\eea7";}
.el-icon-highlight:before {content: "\eea8";}
.el-icon-pagebreak:before {content: "\eea9";}
.el-icon-clear-formatting:before {content: "\eeaa";}
.el-icon-table:before {content: "\eeab";}
.el-icon-table2:before {content: "\eeac";}
.el-icon-insert-template:before {content: "\eead";}
.el-icon-pilcrow:before {content: "\eeae";}
.el-icon-ltr:before {content: "\eeaf";}
.el-icon-rtl:before {content: "\eeb0";}
.el-icon-ltr2:before {content: "\eeb1";}
.el-icon-rtl2:before {content: "\eeb2";}
.el-icon-section:before {content: "\eeb3";}
.el-icon-paragraph-left2:before {content: "\eeb8";}
.el-icon-paragraph-center2:before {content: "\eeb9";}
.el-icon-paragraph-right2:before {content: "\eeba";}
.el-icon-paragraph-justify2:before {content: "\eebb";}
.el-icon-indent-increase:before {content: "\eebc";}
.el-icon-indent-decrease:before {content: "\eebd";}
.el-icon-paragraph-left3:before {content: "\eebe";}
.el-icon-paragraph-center3:before {content: "\eebf";}
.el-icon-paragraph-right3:before {content: "\eec0";}
.el-icon-paragraph-justify3:before {content: "\eec1";}
.el-icon-indent-increase2:before {content: "\eec2";}
.el-icon-indent-decrease2:before {content: "\eec3";}
.el-icon-share:before {content: "\eec4";}
.el-icon-share2:before {content: "\eec5";}
.el-icon-new-tab:before {content: "\eec6";}
.el-icon-new-tab2:before {content: "\eec7";}
.el-icon-popout:before {content: "\eec8";}
.el-icon-embed:before {content: "\eec9";}
.el-icon-embed2:before {content: "\eeca";}
.el-icon-markup:before {content: "\eecb";}
.el-icon-regexp:before {content: "\eecc";}
.el-icon-regexp2:before {content: "\eecd";}
.el-icon-code:before {content: "\eece";}
.el-icon-circle-css:before {content: "\eecf";}
.el-icon-circle-code:before {content: "\eed0";}
.el-icon-terminal:before {content: "\eed1";}
.el-icon-unicode:before {content: "\eed2";}
.el-icon-seven-segment-0:before {content: "\eed3";}
.el-icon-seven-segment-1:before {content: "\eed4";}
.el-icon-seven-segment-2:before {content: "\eed5";}
.el-icon-seven-segment-3:before {content: "\eed6";}
.el-icon-seven-segment-4:before {content: "\eed7";}
.el-icon-seven-segment-5:before {content: "\eed8";}
.el-icon-seven-segment-6:before {content: "\eed9";}
.el-icon-seven-segment-7:before {content: "\eeda";}
.el-icon-seven-segment-8:before {content: "\eedb";}
.el-icon-seven-segment-9:before {content: "\eedc";}
.el-icon-share3:before {content: "\eedd";}
.el-icon-share4:before {content: "\eede";}
.el-icon-google:before {content: "\eee3";}
.el-icon-google-plus:before {content: "\eee4";}
.el-icon-google-plus2:before {content: "\eee5";}
.el-icon-google-drive:before {content: "\eee7";}
.el-icon-facebook:before {content: "\eee8";}
.el-icon-facebook2:before {content: "\eee9";}
.el-icon-instagram:before {content: "\eeec";}
.el-icon-twitter:before {content: "\eeed";}
.el-icon-twitter2:before {content: "\eeee";}
.el-icon-feed2:before {content: "\eef0";}
.el-icon-feed3:before {content: "\eef1";}
.el-icon-youtube:before {content: "\eef3";}
.el-icon-youtube2:before {content: "\eef4";}
.el-icon-youtube3:before {content: "\eef5";}
.el-icon-vimeo:before {content: "\eef8";}
.el-icon-vimeo2:before {content: "\eef9";}
.el-icon-lanyrd:before {content: "\eefb";}
.el-icon-flickr:before {content: "\eefc";}
.el-icon-flickr2:before {content: "\eefd";}
.el-icon-flickr3:before {content: "\eefe";}
.el-icon-picassa:before {content: "\ef00";}
.el-icon-picassa2:before {content: "\ef01";}
.el-icon-dribbble:before {content: "\ef02";}
.el-icon-dribbble2:before {content: "\ef03";}
.el-icon-dribbble3:before {content: "\ef04";}
.el-icon-forrst:before {content: "\ef05";}
.el-icon-forrst2:before {content: "\ef06";}
.el-icon-deviantart:before {content: "\ef07";}
.el-icon-deviantart2:before {content: "\ef08";}
.el-icon-steam:before {content: "\ef09";}
.el-icon-steam2:before {content: "\ef0a";}
.el-icon-dropbox:before {content: "\ef0b";}
.el-icon-onedrive:before {content: "\ef0c";}
.el-icon-github:before {content: "\ef0d";}
.el-icon-github4:before {content: "\ef10";}
.el-icon-github5:before {content: "\ef11";}
.el-icon-wordpress:before {content: "\ef12";}
.el-icon-wordpress2:before {content: "\ef13";}
.el-icon-joomla:before {content: "\ef14";}
.el-icon-blogger:before {content: "\ef15";}
.el-icon-blogger2:before {content: "\ef16";}
.el-icon-tumblr:before {content: "\ef17";}
.el-icon-tumblr2:before {content: "\ef18";}
.el-icon-yahoo:before {content: "\ef19";}
.el-icon-tux:before {content: "\ef1a";}
.el-icon-apple2:before {content: "\ef1b";}
.el-icon-finder:before {content: "\ef1c";}
.el-icon-android:before {content: "\ef1d";}
.el-icon-windows:before {content: "\ef1e";}
.el-icon-windows8:before {content: "\ef1f";}
.el-icon-soundcloud:before {content: "\ef20";}
.el-icon-soundcloud2:before {content: "\ef21";}
.el-icon-skype:before {content: "\ef22";}
.el-icon-reddit:before {content: "\ef23";}
.el-icon-linkedin:before {content: "\ef24";}
.el-icon-linkedin2:before {content: "\ef25";}
.el-icon-lastfm:before {content: "\ef26";}
.el-icon-lastfm2:before {content: "\ef27";}
.el-icon-delicious:before {content: "\ef28";}
.el-icon-stumbleupon:before {content: "\ef29";}
.el-icon-stumbleupon2:before {content: "\ef2a";}
.el-icon-stackoverflow:before {content: "\ef2b";}
.el-icon-pinterest2:before {content: "\ef2d";}
.el-icon-xing:before {content: "\ef2e";}
.el-icon-flattr:before {content: "\ef30";}
.el-icon-foursquare:before {content: "\ef31";}
.el-icon-paypal:before {content: "\ef32";}
.el-icon-paypal2:before {content: "\ef33";}
.el-icon-yelp:before {content: "\ef35";}
.el-icon-file-pdf:before {content: "\ef36";}
.el-icon-file-openoffice:before {content: "\ef37";}
.el-icon-file-word:before {content: "\ef38";}
.el-icon-file-excel:before {content: "\ef39";}
.el-icon-libreoffice:before {content: "\ef3a";}
.el-icon-html5:before {content: "\ef3b";}
.el-icon-html52:before {content: "\ef3c";}
.el-icon-css3:before {content: "\ef3d";}
.el-icon-git:before {content: "\ef3e";}
.el-icon-svg:before {content: "\ef3f";}
.el-icon-codepen:before {content: "\ef40";}
.el-icon-chrome:before {content: "\ef41";}
.el-icon-firefox:before {content: "\ef42";}
.el-icon-IE:before {content: "\ef43";}
.el-icon-opera:before {content: "\ef44";}
.el-icon-safari:before {content: "\ef45";}
.el-icon-check2:before {content: "\e601";}
.el-icon-home4:before {content: "\e603";}
.el-icon-people:before {content: "\e81b";}
.el-icon-checkmark-circle2:before {content: "\e853";}
.el-icon-arrow-up-left32:before {content: "\e8ae";}
.el-icon-arrow-up52:before {content: "\e8af";}
.el-icon-arrow-up-right32:before {content: "\e8b0";}
.el-icon-arrow-right6:before {content: "\e8b1";}
.el-icon-arrow-down-right32:before {content: "\e8b2";}
.el-icon-arrow-down52:before {content: "\e8b3";}
.el-icon-arrow-down-left32:before {content: "\e8b4";}
.el-icon-arrow-left52:before {content: "\e8b5";}
.el-icon-calendar5:before {content: "\e985";}
.el-icon-move-alt1:before {content: "\e986";}
.el-icon-reload-alt:before {content: "\e987";}
.el-icon-move-vertical:before {content: "\e988";}
.el-icon-move-horizontal:before {content: "\e989";}
.el-icon-hash:before {content: "\e98b";}
.el-icon-bars-alt:before {content: "\e98c";}
.el-icon-eye8:before {content: "\e98d";}
.el-icon-search4:before {content: "\e98e";}
.el-icon-zoomin3:before {content: "\e98f";}
.el-icon-zoomout3:before {content: "\e990";}
.el-icon-add:before {content: "\e991";}
.el-icon-subtract:before {content: "\e992";}
.el-icon-exclamation:before {content: "\e993";}
.el-icon-question6:before {content: "\e994";}
.el-icon-close2:before {content: "\e995";}
.el-icon-task:before {content: "\e996";}
.el-icon-inbox:before {content: "\e997";}
.el-icon-inbox-alt:before {content: "\e998";}
.el-icon-envelope:before {content: "\e999";}
.el-icon-compose:before {content: "\e99a";}
.el-icon-newspaper2:before {content: "\e99b";}
.el-icon-calendar22:before {content: "\e99c";}
.el-icon-hyperlink:before {content: "\e99d";}
.el-icon-trash:before {content: "\e99e";}
.el-icon-trash-alt:before {content: "\e99f";}
.el-icon-grid5:before {content: "\e9a0";}
.el-icon-grid-alt:before {content: "\e9a1";}
.el-icon-menu6:before {content: "\e9a2";}
.el-icon-list3:before {content: "\e9a3";}
.el-icon-gallery:before {content: "\e9a4";}
.el-icon-calculator:before {content: "\e9a5";}
.el-icon-windows2:before {content: "\e9a6";}
.el-icon-browser:before {content: "\e9a7";}
.el-icon-portfolio:before {content: "\e9a8";}
.el-icon-comments:before {content: "\e9a9";}
.el-icon-screen3:before {content: "\e9aa";}
.el-icon-iphone:before {content: "\e9ab";}
.el-icon-ipad:before {content: "\e9ac";}
.el-icon-googleplus5:before {content: "\e9ad";}
.el-icon-pin:before {content: "\e9ae";}
.el-icon-pin-alt:before {content: "\e9af";}
.el-icon-cog5:before {content: "\e9b0";}
.el-icon-graduation:before {content: "\e9b1";}
.el-icon-air:before {content: "\e9b2";}
.el-icon-droplets:before {content: "\e7ee";}
.el-icon-statistics:before {content: "\e9b4";}
.el-icon-pie5:before {content: "\e7ef";}
.el-icon-cross:before {content: "\e9b6";}
.el-icon-minus:before {content: "\e9b7";}
.el-icon-minus2:before {content: "\e9b7";}
.el-icon-plus2:before {content: "\e9b8";}
.el-icon-info3:before {content: "\e9b9";}
.el-icon-info22:before {content: "\e9ba";}
.el-icon-question7:before {content: "\e9bb";}
.el-icon-help:before {content: "\e9bc";}
.el-icon-warning2:before {content: "\e9bd";}
.el-icon-add-to-list:before {content: "\e9bf";}
.el-icon-arrow-left12:before {content: "\e9c0";}
.el-icon-arrow-down12:before {content: "\e9c1";}
.el-icon-arrow-up12:before {content: "\e9c2";}
.el-icon-arrow-right13:before {content: "\e9c3";}
.el-icon-arrow-left22:before {content: "\e9c4";}
.el-icon-arrow-down22:before {content: "\e9c5";}
.el-icon-arrow-up22:before {content: "\e9c6";}
.el-icon-arrow-right22:before {content: "\e9c7";}
.el-icon-arrow-left32:before {content: "\e9c8";}
.el-icon-arrow-down32:before {content: "\e9c9";}
.el-icon-arrow-down:before {content: "\e9c9";}
.el-icon-arrow-up:before {content: "\e9ca";}
.el-icon-arrow-up32:before {content: "\e9ca";}
.el-icon-arrow-right32:before {content: "\e9cb";}
.el-icon-switch2:before {content: "\e647";}
.el-icon-checkmark5:before {content: "\e600";}
.el-icon-ampersand:before {content: "\e9cc";}
.el-icon-alert:before {content: "\e9cf";}
.el-icon-alignment-align:before {content: "\e9d0";}
.el-icon-alignment-aligned-to:before {content: "\e9d1";}
.el-icon-alignment-unalign:before {content: "\e9d2";}
.el-icon-arrow-down132:before {content: "\e9d3";}
.el-icon-arrow-up13:before {content: "\e9da";}
.el-icon-arrow-left13:before {content: "\e9d4";}
.el-icon-arrow-right14:before {content: "\e9d5";}
.el-icon-arrow-small-down:before {content: "\e9d6";}
.el-icon-arrow-small-left:before {content: "\e9d7";}
.el-icon-arrow-small-right:before {content: "\e9d8";}
.el-icon-arrow-small-up:before {content: "\e9d9";}
.el-icon-check:before {content: "\e9db";}
.el-icon-chevron-down:before {content: "\e9dc";}
.el-icon-chevron-left:before {content: "\e9dd";}
.el-icon-chevron-right:before {content: "\e9de";}
.el-icon-chevron-up:before {content: "\e9df";}
.el-icon-clippy:before {content: "\f035";}
.el-icon-comment:before {content: "\f02b";}
.el-icon-comment-discussion:before {content: "\f04f";}
.el-icon-dash:before {content: "\e9e2";}
.el-icon-diff:before {content: "\e9e3";}
.el-icon-diff-added:before {content: "\e9e4";}
.el-icon-diff-ignored:before {content: "\e9e5";}
.el-icon-diff-modified:before {content: "\e9e6";}
.el-icon-diff-removed:before {content: "\e9e7";}
.el-icon-diff-renamed:before {content: "\e9e8";}
.el-icon-file-media:before {content: "\f012";}
.el-icon-fold:before {content: "\e9ea";}
.el-icon-gear:before {content: "\e9eb";}
.el-icon-git-branch:before {content: "\e9ec";}
.el-icon-git-commit:before {content: "\e9ed";}
.el-icon-git-compare:before {content: "\e9ee";}
.el-icon-git-merge:before {content: "\e9ef";}
.el-icon-git-pull-request:before {content: "\e9f0";}
.el-icon-graph:before {content: "\f043";}
.el-icon-law:before {content: "\e9f1";}
.el-icon-list-ordered:before {content: "\e9f2";}
.el-icon-list-unordered:before {content: "\e9f3";}
.el-icon-mail5:before {content: "\e9f4";}
.el-icon-mail-read:before {content: "\e9f5";}
.el-icon-mention:before {content: "\e9f6";}
.el-icon-mirror:before {content: "\f024";}
.el-icon-move-down:before {content: "\f0a8";}
.el-icon-move-left:before {content: "\f074";}
.el-icon-move-right:before {content: "\f0a9";}
.el-icon-move-up:before {content: "\f0a7";}
.el-icon-person:before {content: "\f018";}
.el-icon-plus22:before {content: "\e9f7";}
.el-icon-primitive-dot:before {content: "\f052";}
.el-icon-primitive-square:before {content: "\f053";}
.el-icon-repo-forked:before {content: "\e9f8";}
.el-icon-screen-full:before {content: "\e9f9";}
.el-icon-screen-normal:before {content: "\e9fa";}
.el-icon-sync:before {content: "\e9fb";}
.el-icon-three-bars:before {content: "\e9fc";}
.el-icon-unfold:before {content: "\e9fe";}
.el-icon-versions:before {content: "\e9ff";}
.el-icon-x:before {content: "\ea00";}

.el-icon-loading {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
