@import "mixins/mixins";
@import "common/var";

@include b(select-dropdown) {
  @include e(item) {
    font-size: $--select-font-size;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $--select-option-color;
    min-height: $--select-option-height;
    line-height: $--select-option-height;
    box-sizing: border-box;
    cursor: pointer;

    @include m(title) {
      line-height: 26px;
      padding-top: 6px;
    }

    @include m(subtitle) {
      font-size: $--font-size-small;
      font-weight: normal;
      line-height: 20px;
      color: $--color-muted;
      padding-bottom: 8px;
    }

    @include when(disabled) {
      color: $--select-option-disabled-color;
      cursor: not-allowed;

      &:hover {
        background-color: $--color-white;
      }
    }

    &.hover, &:hover {
      background-color: $--select-option-hover-background;
    }

    &.selected {
      color: $--select-option-selected-font-color;
      font-weight: bold;
    }
  }
}
