@import "mixins/mixins";
@import "common/var";

@include b(radio-group) {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;

  @include m(vertical) {
    @include b(radio-button) {
      width: 100%;
      @include e(inner) {
        width: inherit;
        border-left: $--border-base;
        border-bottom: 0;
        text-align: inherit;
      }

      &:first-child {
        @include e(inner) {
          border-radius: $--border-radius-base $--border-radius-base 0 0;
          box-shadow: none !important;
        }
      }
      &:last-child {
        @include e(inner) {
          border-radius:0 0 $--border-radius-base $--border-radius-base;
          border-bottom: $--border-base;
        }
      }
      @include e(orig-radio) {
        &:checked {
          & + .el-radio-button__inner {
            box-shadow: none;
          }
        }
      }
    }
  }

  @include m(stretch) {
    display: flex;
    flex-direction: row;
    @include b(radio-button) {
      flex: auto;
      @include e(inner) {
        width: 100%;
      }
    }
  }
}
